<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/09/09 17:04:33 mgolubev Exp $
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.uml2.diagram.timing.model.timingd.presentation.TimingDModelWizardID"
            name="%_UI_TimingDModelWizard_label"
            class="org.eclipse.uml2.diagram.timing.model.timingd.presentation.TimingDModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TimingDModelFile.gif">
         <description>%_UI_TimingDModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.uml2.diagram.timing.model.timingd.presentation.TimingDEditorID"
            name="%_UI_TimingDEditor_label"
            icon="icons/full/obj16/TimingDModelFile.gif"
            extensions="timingd"
            class="org.eclipse.uml2.diagram.timing.model.timingd.presentation.TimingDEditor"
            contributorClass="org.eclipse.uml2.diagram.timing.model.timingd.presentation.TimingDActionBarContributor">
      </editor>
   </extension>

</plugin>
