<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.3 2009/03/10 13:47:17 tfesenko Exp $
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/modeling/mdt/uml2tools/gmf/GenModel" 
       class = "org.eclipse.uml2.diagram.codegen.u2tgen.provider.U2TGenItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.edit.childCreationExtenders">
    <extender 
       uri = "http://www.eclipse.org/gmf/2008/GenModel" 
       class = "org.eclipse.uml2.diagram.codegen.u2tgen.provider.U2TGenItemProviderAdapterFactory$GMFGenChildCreationExtender" />
  </extension>

</plugin>
