<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008/03/04 13:03:28 tfesenko Exp $
-->

<plugin>
    
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/uml2/diagram/gmfgenext/DiagramFigure/1.0" 
       class = "org.eclipse.uml2.diagram.codegen.gmfgenext.provider.GMFGenExtItemProviderAdapterFactory" 
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.edit.childCreationExtenders">
    <extender 
       uri = "http://www.eclipse.org/gmf/2006/GenModel" 
       class = "org.eclipse.uml2.diagram.codegen.gmfgenext.provider.GMFGenExtItemProviderAdapterFactory$GMFGenChildCreationExtender" />
  </extension>

</plugin>
