<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/09/08 10:23:26 mgolubev Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/mdt/uml2tools/gmf/notation/ext/2008"
            class="org.eclipse.uml2.diagram.common.notation.u2tnotation.U2TNotationPackage"
            genModel="model/u2t.notation.genmodel"/>
   </extension>

</plugin>
